.innerdiv{
    width: 80%;
    text-align: center;
    height: 20%;
    box-shadow: 0px 0px 0px black;
    padding: 5px 5px 5px 5px;
    margin: auto;
}
.main{
    display: inline-block;
    width: 50%;
    text-align: left;
    box-shadow: 5px 2px 1px black;
    height: 20%;
    padding: 5px 5px 5px 5px;
    margin: auto;
}
.div2{
    display: inline-flex;
    width: 80%;
    text-align: right;
    box-shadow: 0px 0px 0px black;
    height: 20%;
    padding: 5px 5px 5px 5px;
    margin: auto;
}